REDIS_HOST_PORT=6379
REDIS_CONTAINER_PORT=6379

MYSQLDB_HOST_PORT=3306
MYSQLDB_CONTAINER_PORT=3306
MYSQLDB_USER=root
MYSQLDB_ROOT_PASSWORD=root
MYSQLDB_DATABASE=db_name

NODE_MAIN_HOST_PORT=8000
NODE_MAIN_CONTAINER_PORT=8000

NODE_BACKGROUND_HOST_PORT=8001
NODE_BACKGROUND_CONTAINER_PORT=8001